<ion-content class="gradient-background">
  <div class="container">
    <div class="back">
    <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    <h2>Side Stepping</h2>
    </div>

    <div class="video-container">
      <img src="assets/img/hakd.png" alt="Video thumbnail" />
      <div class="custom-progress-bar">
        <div class="progress" style="width: 40%; "></div> <!-- Ubah lebar sesuai progress -->
      </div>
      <ion-icon name="play-circle" class="play-icon"></ion-icon>
    </div>

    <h3>Durasi</h3>
    <div class="tags">
      <ion-chip color="light">3-5 Hari</ion-chip>
      <ion-chip color="light">5-10 Menit</ion-chip>
    </div>

    <h3 style="color: white;">Deskripsi:</h3>
    <p>Gerakan langkah-langkah kecil ke samping.</p>

    <h3 style="color: white;">Manfaat:</h3>
    <p>Memperbaiki stabilitas lateral (samping), yang penting untuk mencegah jatuh dan meningkatkan kontrol tubuh, terutama dalam rehabilitasi atau bagi lansia</p>
  </div>
</ion-content>

