<ion-content class="background">
  <div class="header">
    <ion-avatar>
      <img src="assets/icon/Cat.png" alt="User Avatar" />
    </ion-avatar>
    <span>Username</span>
  </div>
  <p>History</p>
  <ion-icon src="/assets/Calendar.svg"></ion-icon>

  <div class="card">
    <div class="header">
      <p class="date">Jum'at, 25 Okt 2024</p>
    </div>
    <!-- Donut chart -->
    <div class="donut-chart">
      <div class="score">14 / 17</div>
    </div>
    <a>Detail</a>
    <!-- Penutupan div.donut-chart-container -->
    <ion-content class="ion-padding custom-background">
      <div class="status">
        <div class="status-item">
          <div class="dot kanan-dot"></div>
          <span class="label">Kanan</span>
          <span class="status-badge perhatian">Perlu diperhatikan</span>
        </div>
        <div class="status-item">
          <div class="dot kiri-dot"></div>
          <span class="label">Kiri</span>
          <span class="status-badge baik">Cukup baik</span>
        </div>
      </div>
    </ion-content>
    
  <!-- Penutupan div.card -->
</div>