<ion-content class="gradient-background">
  <div class="container">
    <div class="back">
    <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    <h2>Mini Squats</h2>
    </div>

    <div class="video-container">
      <img src="assets/img/hakd.png" alt="Video thumbnail" />
      <div class="custom-progress-bar">
        <div class="progress" style="width: 40%; "></div> <!-- Ubah lebar sesuai progress -->
      </div>
      <ion-icon name="play-circle" class="play-icon"></ion-icon>
    </div>

    <h3>Durasi</h3>
    <div class="tags">
      <ion-chip color="light">2-3 Hari</ion-chip>
      <ion-chip color="light">5-10 Menit</ion-chip>
    </div>

    <h3 style="color: white;">Deskripsi:</h3>
    <p>Variasi dari squat yang dilakukan dengan rentang gerak yang lebih pendek</p>

    <h3 style="color: white;">Manfaat:</h3>
    <p>Memperkuat otot kaki, terutama otot paha depan (quadriceps), paha belakang (hamstrings), dan gluteus, tanpa memberikan tekanan berlebihan pada sendi lutut dan punggung</p>
  </div>
</ion-content>

