<ion-content class="gradient-background">
  <div class="container">
    <div class="back">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      <h2>High Knee Drills</h2>
    </div>

    <div class="video-container">
      <img src="assets/img/hakd.png" alt="Video thumbnail" />
      <div class="custom-progress-bar">
        <div class="progress" style="width: 40%; "></div> <!-- Ubah lebar sesuai progress -->
      </div>
      <ion-icon name="play-circle" class="play-icon"></ion-icon>
    </div>

    <h3>Durasi</h3>
    <div class="tags">
      <ion-chip color="light">1-2 days</ion-chip>
      <ion-chip color="light">3-4 set</ion-chip>
    </div>

    <h3 style="color: white;">Deskripsi:</h3>
    <p>Gerakan cepat mengangkat lutut setinggi mungkin secara bergantian.</p>

    <h3 style="color: white;">Manfaat:</h3>
    <p>Memperkuat otot kaki, melatih daya tahan, meningkatkan koordinasi, dan melatih fleksibilitas sendi pinggul</p>
  </div>
</ion-content>

