<ion-content class="background">
  <div class="back">
    <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    <h2>Elderly</h2>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="exercise-card">
          <div class="card-content">
            <div class="thumbnail">
              <img src="assets/img/httw.png" alt="Heel-to-Toe Walk">
              <ion-icon name="play-circle" class="play-icon"></ion-icon>
            </div>
            <ion-card-content>Heel-to-Toe Walk</ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-card class="exercise-card">
          <div class="card-content">
            <div class="thumbnail">
              <img src="assets/img/sts.png" alt="Sit-to-Stand">
              <ion-icon name="play-circle" class="play-icon"></ion-icon>
            </div>
            <ion-card-content>Sit-to-Stand</ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-card class="exercise-card">
          <div class="card-content">
            <div class="thumbnail">
              <img src="assets/img/tds.png" alt="Tandem Stance">
              <ion-icon name="play-circle" class="play-icon"></ion-icon>
            </div>
            <ion-card-content>Tandem Stance</ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="exercise-card">
          <div class="card-content">
            <div class="thumbnail">
              <img src="assets/img/sls.png" alt="Single Leg Stance">
              <ion-icon name="play-circle" class="play-icon"></ion-icon>
            </div>
            <ion-card-content>Single Leg Stance</ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tabs>
  <ion-tab tab="home"> </ion-tab>
  <ion-tab tab="radio">
    <div id="radio-page">
      <ion-toolbar>
        <ion-title>Radio</ion-title>
      </ion-toolbar>
      <ion-content>
        <div class="example-content">Radio content</div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="library">
    <div id="library-page">
      <ion-toolbar>
        <ion-title>Library</ion-title>
      </ion-toolbar>

      <ion-content>
        <div class="example-content">Library content</div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="search">
    <div id="search-page">
      <ion-toolbar>
        <ion-title>Search</ion-title>
      </ion-toolbar>

      <ion-content>
        <div class="example-content">Search content</div>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="assets/home.svg" />
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <img src="assets/activity.svg" />
    </ion-tab-button>
    <ion-tab-button tab="library">
      <img src="assets/file-text.svg" />
    </ion-tab-button>
    <ion-tab-button tab="search">
      <img src="assets/user.svg" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
